// Path: src/pages/LoginPage.scss

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;

  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #dbdbdb;
    background-color: #fff;

    .login-input {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      font-size: 0.9em;
    }

    .login-button {
      padding: 10px;
      border: none;
      border-radius: 3px;
      background-color: #3897f0;
      color: #fff;
      font-size: 0.9em;
      cursor: pointer;
    }
  }
}
